@charset "UTF-8";
body {
  font-family: NotoSerifCJKtcMedium, bn, bn02, Arial, "微軟正黑體", "Helvetica Neue", Helvetica, sans-serif, "新細明體";
}

.baseHeader {
  position: fixed;
  width: 100vw;
  background: -webkit-linear-gradient(left, #dd6cdd, #c1ebfd);
  background: -o-linear-gradient(left, #dd6cdd, #c1ebfd);
  background: -moz-linear-gradient(left, #dd6cdd, #c1ebfd);
  background: linear-gradient(left, #dd6cdd, #c1ebfd);
  display: flex;
  height: 50px;
  z-index: 999999;
}
.baseHeader .logo,
.baseHeader .moduleUser {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.baseHeader .logo {
  color: #ffffff;
  font-size: 1.5em;
  flex: 1;
}
.baseHeader .moduleUser {
  justify-content: right;
  color: #343434;
}
.baseHeader .moduleUser span {
  margin: 0 5px;
}
.baseHeader .moduleUser a {
  background: #ffffff;
  color: #ccc;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 150ms;
}
.baseHeader .moduleUser a:hover {
  background: #dd6cdd;
  color: #ffffff;
}

.baseFrame {
  display: flex;
  padding-top: 50px;
}

.baseMenu {
  width: 200px;
  background: #f5f5f5;
  height: 100vh;
  position: fixed;
  box-shadow: 0 1px 3px #d4d4d4;
}
.baseMenu .list ul li {
  border-bottom: 1px solid #ccc;
}
.baseMenu .list ul li a {
  display: block;
  padding: 15px 3px;
  text-decoration: none;
  color: #343434;
  transition: 150ms;
}
.baseMenu .list ul li a:hover {
  background: #e6e6e6;
}

.baseContent {
  margin-left: 200px;
  width: 100%;
}
.baseContent .title {
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 1px 3px #d4d4d4;
  font-size: 1.2em;
  color: #dd6cdd;
}
.baseContent .content {
  padding: 20px 60px 0 60px;
}
.baseContent .content > .tool {
  text-align: right;
  color: #dd6cdd;
}
.baseContent .content .list li {
  box-shadow: 0 1px 3px #d4d4d4;
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
  height: 40px;
}
.baseContent .content .list li .name {
  flex: 1;
  font-size: 1.2em;
}
.baseContent .content .list li .name a {
  display: block;
  text-decoration: none;
  color: #dd6cdd;
  transition: 150ms;
  width: 100%;
}
.baseContent .content .list li .name a:hover {
  color: #b82bb8;
}
.baseContent .content .list li .name,
.baseContent .content .list li .tool {
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.baseContent .content .list li .tool a {
  transition: 150ms;
  width: 20px;
  height: 20px;
}
.baseContent .content .list li .tool a:hover {
  width: 25px;
  height: 25px;
}
.baseContent .content .list li .tool .edit {
  font-size: 0em;
  background: url(../images/edit.png) no-repeat;
  display: inline-block;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}
.baseContent .content .list li .tool .delete {
  font-size: 0em;
  background: url(../images/delete.png) no-repeat;
  display: inline-block;
  background-position: center;
  background-size: contain;
}
.baseContent .content .list li .tool .delete:hover {
  background: url(../images/deleteHover.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.signInLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
}

.signInContent {
  display: inline-block;
}
.signInContent .logo {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
}
.signInContent .logo img {
  width: 240px;
}
.signInContent .conter {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 3px #7b7b7b;
  padding: 30px;
}
.signInContent .conter .input .item {
  margin: 10px 0;
}
.signInContent .conter .input .item input {
  line-height: 2;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.signInContent .conter .tool {
  text-align: center;
  margin-top: 15px;
}
.signInContent .conter .tool input {
  font-size: 1em;
  margin-bottom: 15px;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.signInContent .conter .tool .p {
  color: #ccc;
}

/*# sourceMappingURL=style.css.map */
